
<div class="content">
<h1>New Mumble</h1>

<form method="POST" action="/mumbles" >
  <label><strong>Text:</strong><input name="text" type="text" required></label>
  <label>Image:<input name="image" type="url"></label>
  <label>Date:<input name="date" type="date"></label>
  <label>Tags:<input name="tags" type="text" ></label>
  <label><strong>Email:</strong><input name="author_email" type="email" required></label>
  <label>Handle:<input name="author_handle" type="text"></label>
  <label>Thumbnail:<input name="author_thumbnail" type="url"></label>
  <input type="submit" value="Save!">
</form>

<!--
text
image
date
tags
author_email
author_handle
author_thumbnail
likes (always is initialized to 0)
-->
</div>
