html{

  background-color: #FFF;
}

.header{
  color: white;
  display: inline-block;
  width: 100%;
  background-color: black;
  position: fixed;
  height: 100px;
}

.header li, h1{
  display: inline;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.content{
  padding-top: 150px;
}

#like{
  width: 50px;
}

#author-thumb{
  width: 128px;
  border-radius: 64px;
}

.post_head{
  display: inline-block;
}

.mumble{
  display: inline-block;
  width: 400px;
  background: #d3d3d3;
  margin: 30px 15px;
}

.mumble img{
  width: 100%;
  margin: 0 auto;
}

.mumble p{
  display: inline-block;
}
